[machines]
serunner001 = IBI\qaauto:Automate1
serunner002 = IBI\qaauto:Automate1
serunner003 = IBI\qaauto:Automate1
serunner004 = IBI\qaauto:Automate1
serunner005 = IBI\qaauto:Automate1
serunner006 = IBI\qaauto:Automate1
serunner007 = IBI\qaauto:Automate1
serunner008 = IBI\qaauto:Automate1
serunner009 = IBI\qaauto:Automate1
serunner010 = IBI\qaauto:Automate1
serunner011 = IBI\qaauto:Automate1
serunner012 = IBI\qaauto:Automate1
serunner013 = IBI\qaauto:Automate1
serunner014 = IBI\qaauto:Automate1
serunner015 = IBI\qaauto:Automate1
serunner016 = IBI\qaauto:Automate1
serunner017 = IBI\qaauto:Automate1
serunner018 = IBI\qaauto:Automate1
serunner019 = IBI\qaauto:Automate1
serunner020 = IBI\qaauto:Automate1
serunner021 = IBI\qaauto:Automate1
serunner022 = IBI\qaauto:Automate1
serunner023 = IBI\qaauto:Automate1
serunner024 = IBI\qaauto:Automate1
serunner025 = IBI\qaauto:Automate1
serunner026 = IBI\qaauto:Automate1
serunner027 = IBI\qaauto:Automate1
serunner028 = IBI\qaauto:Automate1
serunner029 = IBI\qaauto:Automate1
serunner030 = IBI\qaauto:Automate1
serunner031 = IBI\qaauto:Automate1
serunner032 = IBI\qaauto:Automate1
serunner033 = IBI\qaauto:Automate1
serunner034 = IBI\qaauto:Automate1
serunner035 = IBI\qaauto:Automate1
serunner036 = IBI\qaauto:Automate1
serunner037 = IBI\qaauto:Automate1