[machines]
serunner001 = IBI\qaauto:Automate1
serunner002 = IBI\qaauto:Automate1
serunner003 = IBI\qaauto:Automate1
serunner004 = IBI\qaauto:Automate1
serunner005 = IBI\qaauto:Automate1
serunner006 = IBI\qaauto:Automate1
serunner007 = IBI\qaauto:Automate1
serunner008 = IBI\qaauto:Automate1
serunner009 = IBI\qaauto:Automate1
serunner010 = IBI\qaauto:Automate1
serunner011 = IBI\qaauto:Automate1
serunner012 = IBI\qaauto:Automate1
serunner013 = IBI\qaauto:Automate1
serunner014 = serunner014\qarunner1:Automate1
serunner015 = serunner015\qarunner1:Automate1
serunner016 = serunner016\qarunner1:Automate1
serunner017 = serunner017\qarunner1:Automate1
serunner018 = serunner018\qarunner1:Automate1
serunner019 = serunner019\qarunner1:Automate1
serunner020 = serunner020\qarunner1:Automate1
serunner021 = serunner021\qarunner1:Automate1
serunner022 = serunner022\qarunner1:Automate1
serunner023 = serunner023\qarunner1:Automate1
serunner024 = serunner024\qarunner1:Automate1
serunner025 = serunner025\qarunner1:Automate1
serunner026 = serunner026\qarunner1:Automate1
serunner027 = serunner027\qarunner1:Automate1
serunner028 = serunner028\qarunner1:Automate1
serunner029 = serunner029\qarunner1:Automate1
serunner030 = serunner030\qarunner1:Automate1
serunner031 = serunner031\qarunner1:Automate1
serunner032 = serunner032\qarunner1:Automate1
serunner033 = serunner033\qarunner1:Automate1
serunner034 = serunner034\qarunner1:Automate1
serunner035 = serunner035\qarunner1:Automate1
serunner036 = serunner036\qarunner1:Automate1
serunner037 = serunner037\qarunner1:Automate1